<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
-->

<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text"  [(ngModel)]='inputtext'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button  ion-button (click)="saveData()" item-left>Ingresar</button>
  
</div>

</ion-content>
